$primary-color: rgba(48, 62, 88, 0.5);
$background-color: rgb(229, 229, 229);
$border-color: rgba(48, 62, 88, 0.5);
$transition-duration: 0.3s;
$transform-transition-duration: 0.5s;

.point {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 10px 0;
  z-index: 1001;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 50%;
  color: $primary-color;
  cursor: pointer;
  transition: background-color $transition-duration,
    transform $transform-transition-duration ease-in-out;
  transform-origin: 50% 50%;
}
